{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "prettier",
    "plugin:typescript-sort-keys/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "globals": {
    "JSX": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "eslint-plugin-import-helpers",
    "react-hooks",
    "prettier",
    "jest",
    "jest-formatting",
    "sort-keys-fix",
    "typescript-sort-keys",
    "sort-destructure-keys"
  ],
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-unused-vars": [
      "warn"
    ],
    "@typescript-eslint/no-var-requires": "off",
    "import/named": "off",
    "import/namespace": "off",
    "jest-formatting/padding-around-all": 2,
    "no-multiple-empty-lines": [2, { "max": 2 }],
    "no-unused-vars": 0,
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-curly-brace-presence": [1, "never"],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": false,
        "shorthandFirst": false,
        "shorthandLast": false
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": [
      2,
      { "caseSensitive": false }
    ],
    "sort-keys-fix/sort-keys-fix": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
